@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --bg-blue-gradient: linear-gradient(
    180deg,
    rgba(46, 111, 182, 0.4) 0%,
    rgba(123, 174, 224, 0.4) 100%
  );
}

.bg-blue-gradient {
  background: linear-gradient(
    180deg,
    rgba(46, 111, 182, 0.4) 0%,
    rgba(123, 174, 224, 0.4) 100%
  );
}

.bg-bottom-gradient {
  background: linear-gradient(180deg, #2E6FB6 0%, #2E6FB6 99.99%);
}

